.faq-container {
  width: 97%;
  max-width: 1200px;
  background-color: black;
  color: white;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.faq-title {
  font-size: 36px;
  font-weight: bold;
  color: #f9a602;
  margin-bottom: 20px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.faq-item {
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.faq-item:hover {
  background-color: #444;
}

.faq-question {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dropdown-icon {
  margin-right: 10px;  /* Space between the icon and text */
  font-size: 20px;
  color: #f9a602;
}

.faq-answer {
  font-size: 16px;
  margin-top: 10px;
  color: #ccc;
  padding-left: 30px;
}

@media screen and (max-width: 768px) {
  .faq-title {
    font-size: 30px;
  }

  .faq-question {
    font-size: 16px;
  }

  .faq-answer {
    font-size: 14px;
  }

  .faq-item {
    padding: 8px;
  }
}

@media screen and (max-width: 480px) {
  .faq-title {
    font-size: 26px;
  }

  .faq-question {
    font-size: 14px;
  }

  .faq-answer {
    font-size: 12px;
  }

  .faq-item {
    padding: 6px;
  }
}
