.promo-section {
  background: black;
  color: white;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  padding: 15px 20px;
  text-align: center;
  font-family: "VT323", serif;
  font-weight: 400;
  font-size: 1.4rem;
  font-weight: lighter;
  z-index: 100;
  position: relative;
  top: 0;
  width: 100%;
  margin-bottom: 0;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 46px 20px 36px;
  position: relative;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
  background-color: black; /* Set background to transparent */  /* Optional: keeps the blur effect */
  box-shadow: none;
}

.navigation {
  display: flex;
  justify-content: center; /* Center the navigation links */
  align-items: center;
  margin-left: 380px;
}

.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 3rem; /* Increased gap */
}

.navigation li {
  font-family: "VT323", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: whitesmoke;
  cursor: pointer;
}

.navigation li a {
  text-decoration: none;
  color: whitesmoke;
  transition: transform 0.2s ease-in-out, color 0.3s ease;
}

.navigation li:hover {
  transform: translateY(-0.3rem);
  background-color: transparent;
  color: white;
} 

@media (max-width: 900px) {
  .header {
    display: none;
  }

  .promo-section {
    font-size: 1rem;
    height: auto;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .promo-section {
    font-size: 0.9rem;
    padding: 10px 15px;
  }
}
