
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Align entire content vertically */
  height: 100vh;
  width: 97%; /* Full width */
  max-width: 100%; /* Ensure it spans the full width */
  margin: 0 auto;
  background-color: white; /* Changed to white background */
  border-radius: 40px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* Slight box shadow */
  text-align: center;
  overflow: hidden;
  position: relative; /* Allows stacking elements with z-index */
  border: 2px solid transparent;
  background-clip: padding-box;
  transition: all 0.3s ease; /* Smooth transition (without glow effect) */
}

.hero-image {
  width: 100%; /* Ensure it spans the full width */
  height: auto;
  object-fit: cover;
  margin-top: 35%; /* Moves the image down */
  align-self: center;
}

.hero-overlay {
  position: absolute;
  top: 10%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for exact centering */
  z-index: 2; /* Places the text above the image */
  color: #2b1224;
  text-align: center;
  display: flex;
  flex-direction: column; /* Stack the text and button vertically */
  align-items: center; /* Center items horizontally */
}

.hero-overlay h1 {
  font-family: "Bruno Ace", sans-serif;
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 0px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adds some contrast for readability */
  margin-top: 30%;
  letter-spacing: 10px;
}
.hero-overlay p{
  font-size:2.5rem;
  font-weight: lighter;
  margin-top: 10px;
}

.register-btn {
  padding: 10px 20px;
  background-color: #cef31e;
  color: #2b1224;
  border: 2px solid #cef31e;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
  transition: all 0.3s ease;
  margin-right: 27px;

}


@media (max-width: 768px) {
  .hero-overlay h1 {
    font-size: 2rem; /* Size adjustment for smaller screens */
  }

  .register-btn {
    font-size: 0.9rem; /* Ensure the button size stays proportionate */
    padding: 8px 18px;
  }
} 