.prizes-container {
  height: 80vh;
  width: 97%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.receipt {
  background-color: white;
  width: 70%;
  max-width: 450px;
  padding: 15px;
  border: 2px dashed black;
  font-family: "VT323", monospace;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.receipt-title {
  font-size: 1.8rem;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.receipt-detail {
  font-size: 1rem;
  margin: 5px 0;
  color: black;
}

.receipt-detail span {
  font-weight: bold;
}

.receipt-dotted-line {
  width: 100%;
  border: none;
  border-top: 2px dotted black;
  margin: 15px 0;
}

.receipt-item {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px;
  width: 100%;
  font-size: 1rem;
  margin: 8px 0;
  align-items: center;  
}

.item-label {
  font-weight: bold;
  text-align: left;
}

.item-value {
  font-weight: normal;
  text-align: right;
}

.receipt-total {
  font-size: 1.2rem;
  text-align: right;
  width: 100%;
  font-weight: bold;
  margin-top: 10px;
}

.receipt-footer {
  font-size: 1rem;
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: black;
  margin-top: 20px;
}


@media screen and (max-width: 600px) {

  .prizes-container {
    margin-left: 6px;  
  }
  .receipt {
    width: 95%;
  }

  .receipt-title {
    font-size: 3 rem;
  }

  .receipt-detail {
    font-size: 1.3rem;
  }

  .receipt-item {
    font-size: 1.5rem;
  }

  .receipt-total {
    font-size: 1.7rem;
  }
}
