/* Prizes Section */
.prizes-section {
  background: #000000;
  color: #ffffff;
  padding: 50px 20px;
  text-align: center;
  border-radius: 20px;
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

/* Title */
.prizes-title {
  font-family: "Press Start 2P", sans-serif;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: 100;
}

/* Cash Pool Amount */
.cash-pool {
  font-family: "VT323", serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
}

/* Grid Layout */
.prizes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

/* Prize Cards */
.prize-card {
  background: black;
  border: 2px solid #ffffff;
  border-radius: 15px;
  padding: 20px;
  
}


/* Prize Card Content */
.prize-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: "Press Start 2P", sans-serif;
  font-weight: 100;
}

.prize-card p {
  font-size: 1.2rem;
  font-family: "VT323", serif;
  font-weight: 100;
}

/* Footer */
.prizes-footer {
  font-size: 1.2rem;
  color: white;
  margin-top: 40px;
  font-family: "VT323", serif;
  font-weight: 100;
}
