/* Timeline Section */
.timeline-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300vh; /* Increased height for a taller box */
    width: 97%; /* Full width */
    background-color: black; /* Black background */
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    margin: 20px auto; /* Center section horizontally with margin */
}

/* Overlay Section */
.timeline-overlay {
    z-index: 1; /* Ensures image content is on top */
    display: flex;
    justify-content: center; /* Centers content vertically and horizontally */
    width: 50%; /* Full width */
    height: 285vh; /* Full height */
    overflow: hidden;
}

/* Timeline Image */
.timeline-image {
    height: 100%; /* Full height for the image */
    width: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensures image scales properly */
}
